body {

    background:black;
    color:#33ff33;
    font-family:"Courier New", monospace;

}


.boot {

    text-align:center;
    margin-top:200px;

}


button {

    background:black;
    color:#33ff33;
    border:2px solid #33ff33;
    padding:10px;
    margin:10px;
    font-family:inherit;
    cursor:pointer;

}


button:hover {

    background:#33ff33;
    color:black;

}


.os {

    display:none;
    padding:30px;

}


header {

    border-bottom:2px solid #33ff33;
    padding-bottom:10px;

}


.menu {

    margin-top:20px;

}


#screen {

    border:2px solid #33ff33;
    margin-top:20px;
    padding:20px;
    min-height:200px;

}


body::after {

    content:"";
    position:fixed;
    inset:0;

    background:
    repeating-linear-gradient(
        0deg,
        rgba(51,255,51,.05),
        rgba(51,255,51,.05) 2px,
        transparent 2px,
        transparent 4px
    );

    pointer-events:none;

}
